# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key_aqui

# API Backend Configuration
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Temporal - Para mocks de galería
NEXT_PUBLIC_UNSPLASH_ACCESS_KEY=your_unsplash_key


# Google Drive — API Key (solo lectura, carpetas públicas)
GOOGLE_API_KEY=tangananiza

# Google
NEXT_PUBLIC_GA4_MEASUREMENT_ID=G-lkjasdjas
GOOGLE_DRIVE_GALLERY_ROOT_ID=kjansjasdkaslkdmaojsn
NEXT_PUBLIC_DRIVE_VIDEO_HERO_ID=kjahsdlkjas;ldkmainSEIFPSA


#Eventos
EVENTOS_CSV_URL=https://docs.google.com/spreadsheets/d/e/asdaasdasd/pub?gid=0&single=true&output=csv